@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-danaMed: "Dana-Medium";
  --font-danaDemiBold: "Dana-DemiBold";
  --font-danaLight: "Dana-Light";
}

@utility ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

@utility container {
  padding-inline: 8px;
  margin-inline: auto;

  @variant md {
    padding-inline: px;
  }

  @variant lg {
    padding-inline: 20px;
  }

  @variant xl {
    padding-inline: 100px;
  }
}

@font-face {
  font-family: Dana-Medium;
  font-display: swap;
  src: url("/fonts/woff/Dana-Medium.woff") format("woff2");
}

@font-face {
  font-family: Dana-DemiBold;
  font-display: swap;
  src: url("/fonts/woff/Dana-DemiBold.woff") format("woff2");
}
@font-face {
  font-family: Dana-Light;
  font-display: swap;
  src: url("/fonts/woff/Dana-Light.woff") format("woff2");
}

.mySwiper2,
.mySwiper {
  width: 100%;
}

@media (max-width: 600px) {
  .mySwiper {
    height: 200px !important;
  }
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swal2-popup {
  @apply !font-danaMed bg-white dark:bg-gray-800 dark:text-white;
}

.swal2-title,
.swal2-content {
  @apply !font-danaMed;
}

/* .ck.ck-editor__editable {
  
  background-color: #1e1e1e !important;   
  
} */